body{
	background-image: url("background.html");
}
img:hover{
	filter: blur(10px);
}
p, h1, h3, h4, h5, td, tr{
font-family: sans-serif;
color: #000000;
width: 100%
}
table{
	border: none;
	width: 60%;
}
a{ color: #000000
text-decoration: none;
padding: 8px;
text-align: center;
}

a:hover{ 
border-bottom-width: 1px;
border-bottom-color: #c44536

}
 .active
 {background-color: d62828;
 	color:1d3557;

}
.lista{
	list-style-type: 8;
	margin: 0;
	padding: 8;
	}
.elemento{
	display: inline;
	width: 100px

}

