body{
	background-color: #f4d06f;
}
p{
	font-family:Verdana, "Verdana Newe", sans-serif;
	color: #000000

}
li{
	color: #000000
}
h3{
	color: #432818
}
Img:hover{
	filter: blur(10px);
}